POSTGRES_USER=consthruads
POSTGRES_LISTMONK_DB=listmonk
SMTP_HOST=email-smtp.us-east-1.amazonaws.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SES_FROM_EMAIL=
SES_FROM_NAME=Consthruads
SES_MAX_SEND_RATE=10
